@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(208, 208, 208);
}
header{
    background-color: darkgray;
}
header h1{
    text-align: center;
    padding: 10px;
}
header h3{
    text-align: center;
    margin: 8px;
}
ul#menu{
    display: block;
    background-color: darkgray; 
} 
ul li{
    display: inline-block;
}
ul>li:hover{
    display: inline-block; 
    transform: translate(-3px, -3px); 
    transition: 0,5s;
    background-color: rgb(209, 208, 208);
              
}
img#imenu{
    display: none;
}